.blog-card{
    background-color: white;
    width: 70%;
    border: 3px solid #ff725e;
    min-height: 380px;
    margin: 80px auto;
    display: flex;
    flex-direction: row;
}

.author-name{
    margin-left: 5px;
    
}

.inLine{
    display: inline;
    
}

.inLine:nth-child(3){
    margin-left: 30px ;
}

.rev{
   
    flex-direction: row-reverse !important;
}
.blog-content{
    margin: 50px;
}

.blog-flex-child:first-child{
    text-align: left;
    overflow: hidden;
    position: relative;
    flex: 50%;
}
.blog-flex-child:last-child{
    text-align: left;
    flex: 50%;
}

.blog-flex-child img{
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
}


@media(max-width:850px) {
    .blog-card{
        width: 85%;
        flex-direction: column !important;
        margin: 50px auto;
        height: 450px;
    }
    .blog-heading{
        font-size: 20px !important;
    }
    .blog-content{
        margin: 20px;
    }
    .blog-excerpt{
        display: none !important;
    }
    .blog-flex-child:first-child{
        
        flex: 80% !important;
    }
    .blog-flex-child:last-child{
        
        flex: 20% !important;
    }
    
}