.Cards {
  display: table-cell;
  padding: 40px;
  min-width: 200px;
  min-height: 250px;
  text-align: center;
  border: 1px solid rgb(68, 68, 68);
 
}

.Cards:hover{
  box-shadow: 3px 3px 25px #858585;
  
}

.Cards p {
  font-size: 13px;
  line-height: 1.6;
  font-weight: 600;
  color: grey;
}

.Cards h2 {
  margin-top: -30px;
}
.image {
  width: 78px;
  height: 92px;
  padding-left: 30px;
  padding-top: 30px;
  margin-bottom: 0px;
  transform: translate(-18%, -38.8%);
}
